In [152]:
import pandas as pd

In [153]:
race_data = pd.read_pickle("race_data.pkl")

In [154]:
race_data

,着順_x,車番,着順_y,好気合,総評,枠番,ギヤ倍数,競走得点,1着,2着,...,注,A1,A2,A3,L1,S1,S2,両,追,逃
1320210405020001,1,4,5,nan,4,4,3.85,69.33,4,5,...,0,0,0,1,0,0,0,0,0,1
1320210405020001,2,1,5,nan,5,1,3.86,66.15,1,4,...,0,0,0,1,0,0,0,0,1,0
1320210405020001,3,2,6,nan,4,2,3.93,69.44,0,1,...,0,0,0,1,0,0,0,0,1,0
1320210405020001,4,3,7,nan,4,3,3.92,69.75,5,15,...,0,0,0,1,0,0,0,1,0,0
1320210405020001,5,5,6,nan,5,5,3.93,64.36,0,6,...,1,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7520210717030009,3,4,2,nan,2,4,3.92,92.25,18,11,...,0,1,0,0,0,0,0,0,0,1
7520210717030009,4,7,3,nan,4,6,3.92,84.87,5,3,...,1,0,1,0,0,0,0,0,0,1
7520210717030009,5,2,1,nan,1,2,3.92,99.19,0,0,...,0,1,0,0,0,0,0,1,0,0
7520210717030009,6,3,1,nan,1,3,3.93,96.79,0,2,...,0,1,0,0,0,0,0,0,1,0
7520210717030009,7,6,2,nan,2,6,3.93,90.88,2,3,...,0,1,0,0,0,0,0,0,0,1

In [155]:
race_data = race_data.replace("失", 0)
race_data = race_data.replace("落", 0)
race_data = race_data.replace("故", 0)
race_data = race_data.replace("-", 0)
race_data = race_data.replace("★", 0)
race_data["ギヤ倍数"] = race_data["ギヤ倍数"].map(lambda x: 0 if len(x)>4 else x)
race_data = race_data.drop('好気合', axis=1)
race_data = race_data.astype("float64")

In [159]:
race_y = race_data['着順_x']
race_x = race_data.drop('着順_x', axis=1)
race_y = pd.get_dummies(race_y)
race_x.to_pickle("race_x.pkl")
race_y.to_pickle("race_y.pkl")

[[4. 5. 4. ... 0. 0. 1.]
 [1. 5. 5. ... 0. 1. 0.]
 [2. 6. 4. ... 0. 1. 0.]
 ...
 [2. 1. 1. ... 1. 0. 0.]
 [3. 1. 1. ... 0. 1. 0.]
 [6. 2. 2. ... 0. 0. 1.]]

[1. 2. 3. ... 5. 6. 7.]